<div class="flex h-screen bg-zinc-200">
  <aside class="w-64 bg-white text-zinc-700 border-r border-gray-200 flex flex-col p-4">
    <div class="text-center mb-6">
      <img src="/images/logo_upeu.png" alt="Logo" class="w-52 mx-auto mb-2" />
    </div>

    <nav class="flex-1 space-y-3 text-sm">
      <ng-container *ngFor="let item of menu">
        <!-- Cabeceras -->
        <p *ngIf="item.menuHeader" class="uppercase text-xs text-gray-400 px-3 mt-2">{{ item.menuHeader }}</p>

        <!-- Enlace simple -->
        <a *ngIf="item.url && !item.submenu" [routerLink]="item.url" routerLinkActive="bg-blue-900 text-white"
          class="flex items-center gap-3 px-3 py-2 rounded hover:bg-blue-100 transition">
          <i [class]="item.icon"></i>
          <span>{{ item.name }}</span>
        </a>

        <!-- Dropdown -->
        <div *ngIf="item.submenu">
          <button (click)="toggleDropdown(item.name)"
            class="w-full flex justify-between items-center px-3 py-2 rounded hover:bg-blue-100 hover:text-blue-800 transition"
            [ngClass]="{ 'bg-blue-100 text-blue-800': openDropdown === item.name }">
            <span class="flex items-center gap-3">
              <i [class]="item.icon"></i>
              <span>{{ item.name }}</span>
            </span>
            <i class="fa-solid fa-xs"
              [ngClass]="openDropdown === item.name ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
          </button>

          <!-- Submenú -->
          <div *ngIf="openDropdown === item.name" class="mt-2 ml-4 space-y-1 transition-all duration-300">
            <a *ngFor="let sub of item.submenu" [routerLink]="sub.url" routerLinkActive="bg-blue-900 text-white"
              class="flex items-center gap-3 px-3 py-2 rounded hover:bg-blue-50 transition">
              <i class="fa-regular fa-circle text-xs"></i>
              <span>{{ sub.name }}</span>
            </a>
          </div>
        </div>
      </ng-container>
    </nav>

    <button (click)="logout()"
      class="bg-red-500 hover:bg-red-600 text-white font-medium py-2 rounded mt-auto flex items-center justify-center gap-2">
      <i class="fa-solid fa-right-from-bracket"></i>
      Cerrar sesión
    </button>
  </aside>

  <div class="flex-1 flex flex-col">
    <header class="bg-white shadow px-4 py-4 flex justify-between items-center">
      <h1 class="text-sm font-semibold text-gray-500 uppercase">Prácticas Pre Profesionales</h1>
      <div class="flex items-center gap-2 text-gray-600">
        <i class="fa-solid fa-user-circle fa-xl"></i>
        <div class="flex flex-col leading-tight">
          <span class="font-medium">{{ (user$ | async)?.nombres }} {{ (user$ | async)?.apellidos }}</span>
          <span class="text-xs text-gray-400 capitalize">{{ (user$ | async)?.roles?.[0] }}</span>
        </div>
      </div>
    </header>

    <main class="flex-1 p-4 overflow-auto">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
